@if (showNavbar()) {

  <nav class="navbar">

    <div
      class="logo"
      routerLink="/home"
    >
      DrivePro
    </div>

    <div class="nav-links">

      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>

      @if (authService.isAdmin()) {

        <a
          routerLink="/dashboard"
          routerLinkActive="active"
        >
          Dashboard
        </a>

      }

      <a
        routerLink="/vehicles"
        routerLinkActive="active"
      >
        Vehicles
      </a>

      <a
        routerLink="/rentals"
        routerLinkActive="active"
      >
        My Rentals
      </a>

      <a
        class="logout-link"
        (click)="logout()"
      >
        Logout
      </a>

    </div>

  </nav>

}

<router-outlet></router-outlet>