<div class="rental-container">

  <h2>Rent Vehicle</h2>

  <h3>
    {{ vehicle.brand }} {{ vehicle.model }}
  </h3>

  <p>
    <strong>Vehicle Number:</strong>
    {{ vehicle.vehicleNumber }}
  </p>

  <p>
    <strong>Price Per Day:</strong>
    ₹{{ vehicle.pricePerDay }}
  </p>

  <label>Customer Name</label>

  <input
    type="text"
    [(ngModel)]="customerName"
    placeholder="Enter customer name"
  />

  <label>Rental Days</label>

  <div class="form-field">
  <label>Rental From</label>
  <input
    type="date"
    [(ngModel)]="startDate"
    [min]="startDate"
  >
</div>

<div class="form-field">
  <label>Rental To</label>
  <input
    type="date"
    [(ngModel)]="endDate"
    [min]="startDate"
  >
</div>

  <p>
    <strong>Total Amount:</strong>
    ₹{{ totalAmount }}
  </p>

  <button (click)="rentVehicle()">
    Confirm Rental
  </button>

  @if (message) {
    <p class="success">
      {{ message }}
    </p>
  }

  @if (errorMessage) {
    <p class="error">
      {{ errorMessage }}
    </p>
  }

</div>